.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
}

#top {
    background: #19334a;
    color: #fff;
    padding: 50px 15px 10px;
    margin-bottom: 50px;
}

#top span {
    background: #f0ec78;
    font-family: 'Source Code Pro', monospace;
    color: #343a42;
    font-size: 14px;
}

p {
    font-size: 16px;
}

#project ul li{
    list-style: none;
    width: 100%;
    margin: 10px 0;
    height: 100px;
    border-radius: 10px

}

