body, html{
    height: 100%;
    margin: 0;
}
.logo image{
    width: 50px;
    height: 30px;
}
#story{
    background: #560e36;
}
#story .top{
    background: url(../img/images/story-teller_03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.nav{
    text-align: right;
}
.nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
.journey{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 100%;
    transform: translate(-50%, -50%);
}
.journey h1{
    font-size: 62px;
    letter-spacing: 5px;
}