body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
#story{
    background: #560e36;
    overflow-x: hidden;
}
#story .top{
    background: url(../img/images/story-teller_03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.nav{
    text-align: right;
    position: absolute;
    right:0%;
    top: 4%;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
}
.journey{
    width: 1440px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.journey h1{
    font-size: 62px;
    letter-spacing: 3px;
}
.journey h2{
    font-size: 18px;
    letter-spacing: 3px;
}
.logo{
    display: flex;
    position: absolute;
    top: -1%;
    left: 5%;
    width: 200px;
    height: auto;
}
.explore{
    border: none;
    border-radius: 0px 15px 0px 15px;
    color: white;
    padding: 23px 73px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 20px 2px;
    cursor: pointer;
}
.explore{
    background-image: linear-gradient(to right, #500c7a, #9f2f87);
}
#story .mid{
    height: 100%;
    width: 100%;
    max-width: 1440px;
}