body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
#story{
    background: #ffffff;
    overflow-x: hidden;
}
#story .top{
    background-image: url(../img/images/story-teller_02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.nav{
    text-align: right;
    position: absolute;
    right:4%;
    top: 4%;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
}
.journey{
    width: 1440px;
    color: #fff;
    position: absolute;
    top: 47%;
    left: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.journey h1{
    font-size: 62px;
    letter-spacing: 3px;
    margin: 0;
}
.journey h2{
    font-size: 18px;
    letter-spacing: 3px;
}
.journey a{
    color: white;
    text-decoration: underline;
    font-size: 16px;
    padding: 20px;
}
.logo{
    display: flex;
    position: absolute;
    top: -1%;
    left: 5%;
    width: 200px;
    height: auto;
}
.explore{
    border: none;
    border-radius: 0px 15px 0px 15px;
    color: white;
    padding: 23px 73px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 20px 2px;
    cursor: pointer;
}
.explore{
    background-image: linear-gradient(to right, #500c7a, #9f2f87);
}
#about h3{
    font-size: 48px;
}
#about .box-out{
    content: '';
    position: relative;
    bottom: 10;
    padding: 50px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, #641c35,#540d36 );
    z-index: 1;
}
.container img{
    position: absolute;
    left: 37%;
    top: 97%;
    z-index: 2;
}
.box1{
    width: 65%;
    height: 500px;
    left: 50px;
    top: 110%;
    background: #fff6ec;
    position: absolute;
    padding: 25px;
    margin-top: 90px;
    left: 20%;
    z-index: 2;
}