@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Syne:wght@400;700&display=swap');
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Syne', sans-serif;
    font-size: 18px;
}
h2, h3 {
    font-family: 'Germania One', cursive;
}
h3 {    
    font-size: 48px;
    color: #323131;
}
div{
    display: block;
}
#story{
    background: #ffffff;
    overflow-x: hidden;
}
#story .top{
    background-image: url(../img/images/story-teller_02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.nav{
    text-align: right;
    position: absolute;
    right:4%;
    top: 4%;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
}
.journey{
    color: #fff;
    font-size: 18px;
    width: 50%;
    max-width: 550px;
    width: 1440px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-50%);
    overflow: hidden;
}
.journey h1{
    font-family: 'germania one';
    font-size: 62px;
    letter-spacing: 3px;
    margin: 0;
}
.journey a{
    color: white;
    text-decoration: underline;
    font-size: 16px;
    padding: 20px;
}
.logo{
    display: flex;
    position: absolute;
    top: -1%;
    left: 5%;
    width: 200px;
    height: auto;
}
.explore{
    border: none;
    border-radius: 0px 15px 0px 15px;
    color: white;
    width: 35%;
    padding: 50px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 20px 2px;
    cursor: pointer;
}
.explore{
    background-image: linear-gradient(to right, #500c7a, #9f2f87);
}
#story .mid{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
.mid::after{
    content: '';
    background-image: linear-gradient(to bottom, #540d36, #641c35);
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
}
div{
    display: block;
}
#about h3{
    font-size: 48px;
}
.container img{
    position: absolute;
    width: 300px;
    height: auto;
    left: 40%;
    top: 10%;
    z-index: 2;
}
#about .box1{
    background: url(../img/images/dice.png) no-repeat 90% 90%, #fff6ec;
    width: 900px;
    padding: 50px;
    margin-top: 5px;
    top: 30%;
    left: 20%;
    position: absolute;
    z-index: 2;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.box1 p{
    font-size: 18px;
    text-align: justify;
}
#about .box1 blockquote{
    margin: 10px 0;
    padding-left: 25px;
    border-left: solid 6px #d9c1a4;
}
#ornamen .float{
    width: 400px;
    height: auto;
    position: absolute;
    top: -42%;
    left: 76%;
    z-index: 3;
}
#campaign{
    margin: 100px auto 0;
    max-width: 1280px;
    width: 90%;
}
#campaign h3{
    text-align: center;
    position: relative;
    padding: 50px;
    margin: 10px;
}
h3{
    font-size: 48px;
    color: #323131;
}
.campaign-slide {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.campaign-wrap{
    display: flex;
}
.slide-card {
    width: 0%;
    margin: 5px;
    border: solid 3px #500c7a;
    background: #fff;
    height: 500px;
    position: relative;
}
.gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0,0,0,0));
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.slide-card a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.campaign-logo {
    position: relative;
    bottom: -65%;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
}
#arkemyr{
    background-image: url(../img/images/castle.jpg);
    background-position: 35% 50%;
    background-size: cover;
}
#bvale {
    background-image: url(../img/images/feywild.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
#levia {
    background-image: url(../img/images/pirate.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
#bar {
    background-image: url(../img/images/tavern.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
.campaign-slide-nav {
    margin-top: 25px;
    font-size: 24px;
    color: #500c7a;
    display: flex;
    justify-content: flex-end;
}
.campaign-slide-nav > * {
    border: solid 2px #500c7a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.campaign-slide-nav > *:hover {
    background-color: #500c7a;
    color: #fff;
}
.slide-prev {
    margin-right: -2px;
}
#newsletter {
    text-align: center;
    padding: 55px;
    background: #efefef;
    position: relative;
    margin: 115px 0 50px;
}
#newsletter::after {
    content: '';    
    background: url(../img/images/Shelves\ 2.png);
    background-position: 50% 70%;
    opacity: 0.07;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.newsletter-content {
    max-width: 770px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.newsletter-content h3 {
    color: #500c7a;
}
.newsletter-content p {
    margin: 20px 0;
}
.newsletter-content form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.newsletter-content input {
    width: 89%;
    border: solid 2px #500c7a;
    padding: 15px;
}
.newsletter-content input::placeholder {
    color: #a996b2;
    font-family: 'Syne', sans-serif;
}

.newsletter-content button {
    width: 10%;
    background-image: linear-gradient(to right, #500c7a, #9f2f87);
    border: none;    
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.newsletter-content button:hover {
    background: #500c7a;
}
#attributions {
    background: #500c7a;
    color: #fff;
    padding: 40px 0;
}

#attributions a{
    background: #febf46;
    color: #000;
    text-decoration: none;
}
#attributions a:hover{
    background: #da6d14;
    color: #fff;
}